*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.winfull{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background: #080808;
}

.portfolio{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 1200pt;
    height: 700pt;
}

.portfolioheader{
    flex-direction:column;
    display: block;
    height: 60pt;
    width: 1500pt;
    border-radius: 0pt 0pt 8pt 8pt;
    background: #1B1B1B;
}

.linksheader{    
    display: flex;
    align-items: center;
    position: relative;
    justify-content:space-around;
    padding: 5pt 50pt 5pt 50pt;
}

.linksimgheader{
    display: flex;
    align-items: center;
    position: relative;
    justify-content:space-between;
    width: 100pt;
    height: 40pt;
    cursor: pointer;
}

.linksheader{
    color: #9C9C9C;
    font-size: 16pt;
    cursor: pointer;
}

.imgglav{
    width: 30pt;
    cursor: pointer;
}

.portfoliobody{
    display: flex;
    justify-content:space-between;
    width: 1000pt;
    margin: 0 auto;
    padding: 50pt 0pt 0pt 0pt;
}

.portfoliotext{
    display: flex;
    justify-content: center;
    flex-direction:column;
    width: 500pt;
}

.titleonblack{
    color:white;
    font-size: 44pt;
    margin: 0pt 0pt 30pt 0pt;
}

.Text{
    font-size: 20pt;
    color: white;
    cursor:auto;
    margin: 0pt 0pt 30pt 0pt;
}

.buttonmid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 307.89pt;
    height: 63pt;
    border-radius: 4pt;
    border: 1pt solid #62BA1B;
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    background: linear-gradient(30deg,#9895BD ,#89FE2C,#9895BD);
    animation: gradient 4s ease infinite;
    background-size: 200%;
    cursor: pointer;
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.Textbutton{
    color:white;
    font-size: 17pt;
}

.avatar{
    border-radius: 50%;
}

.bottomlinks{
    display: flex;
    width: 1000pt;
    margin: auto;
    justify-content:space-between;
    padding: 0pt 0pt 0pt 0pt;
}

.knops{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160pt;
    height: 60pt;
    border: 1px solid #1B1B1B;
    border-radius: 6pt;
    cursor: pointer;
}

.imglinks{
    width: 130pt;
    height: 50pt;
}

.textknops{
    display: flex;
    width: 1000pt;
    margin: 0 auto;
    justify-content:left;
    padding: 40pt 0pt 0pt 0pt;
}

.workedtext{
    margin: 0pt 0pt 30pt 0pt;
}


