.winfull3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction:column;
    margin-top: 50pt;
    height: 800pt;
}

.textimonials{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.texttestimonials{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1010pt;
    height: 120pt;
}

.texttesti{
    color: white;
    font-size: 26pt;
}

.textmidtesti{
    color: white;
    width: 500pt;
    text-align: center;
    font-size: 16pt;
    padding-top: 20pt ;
}

.clientsname1{
    display: flex;
    justify-content: space-between;
}

.textclient1{
    color: white;
    width: 400pt;
    height: 24pt;
    font-size: 16pt;
    margin: 0pt;
}

.client1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 445pt;
    height: 212pt; 
    border:1pt solid;
    border-image-slice:1;
    border-image-source:linear-gradient(90deg, #484848  1.24%, rgba(27, 27, 27, 0) 100%);
    border-radius:6pt;

}

.phots1_2, .phots2_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20pt 0pt 20pt 0pt;
}

.headerclient1{
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
    align-items:center;
    width: 400pt;   
}

.texttextclient1{
    color: white;
    padding: 0pt 0pt 0pt 20pt;
    font-size: 18pt;
}

.imgclient{
    width: 50pt;
    border-radius: 50%; 
}

.div.kovich ::before{
    content: '"';
    color:white;
    position: absolute;
    font-size: 50pt;
}